<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/x-icon"
        href="https://cdn.jsdelivr.net/gh/omega-scans/ani-scraper@main/static/img/favicon.ico">
    <title>Ani scraper - Watch High Quality Anime Online</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="title" content="Ani scraper - Watch High Quality Anime Online" />
    <meta name="description"
        content="Ani scraper - Watch High Quality Anime Online. You can watch anime online free in HD without Ads. Best place for free find and one-click anime." />
    <meta name="keywords"
        content="anime dex, Ani scraper, watch anime online, free anime, anime stream, anime hd, english sub, kissanime, gogoanime, animeultima, 9anime, 123animes, animefreak, vidstreaming, gogo-stream, animekisa, zoro.to, gogoanime.run, Ani scraper, animekisa" />
    <meta name="charset" content="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <meta name="revisit-after" content="1 days" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Content-Language" content="en" />
    <meta property="og:title" content="Ani scraper - Watch High Quality Anime Online">
    <meta property="og:description"
        content="Ani scraper - Watch High Quality Anime Online. You can watch anime online free in HD without Ads. Best place for free find and one-click anime.">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Ani scraper">
    <meta property="og:url" content="https://animedex.live/">
    <meta itemprop="image" content="../screenshots/home.jpeg">
    <meta property="og:image" content="../screenshots/home.jpeg">
    <meta property="og:image:secure_url"
        content="../screenshots/home.jpeg">
    <meta property="og:image:width" content="650">
    <meta property="og:image:height" content="350">
    <meta property="twitter:title" content="Ani scraper - Watch High Quality Anime Online">
    <meta property="twitter:description"
        content="Trending page for anime on Ani scraper. You can watch anime online free in HD without Sign up. Best place for free find and one-click anime.">
    <meta property="twitter:url" content="">
    <meta property="twitter:card" content="summary">
    <meta name="apple-mobile-web-app-status-bar" content="#202125">
    <link href="https://cdn.jsdelivr.net/gh/omega-scans/ani-scraper@main/static/css/home.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>

<body style="background-color: #ffffff;">
    <header id="head-div">
        <div id="title1">
            <a href="/"><img src="https://cdn.jsdelivr.net/gh/omega-scans/ani-scraper@main/static/img/header.png" alt="Ani scraper"></a>
        </div>
        <div id="search-div">
            <form action="/search" method="GET">
                <input type="text" name="query" id="query" placeholder="Search Anime..." required="">
                <button type="submit"><i class="fa fa-search"></i>
                </button>
            </form>
        </div>
    </header>
    <div style="text-align: center; color: #ffffff; background-color:#130f40; padding: 20px 0; font-size: 25px"> <a href="about.html" style="color: white;"> <strong>About This Project</strong></a> </div>
    
<div >  
<br>
<div style="text-align: center;"><h2> This is a web scraper project by JSCOE PBL group 8</h2></div>
 
 <br>
 <hr>
 <br>
 <div style="text-align: left; margin: 25px;"><h2>Team Members

  </h2>
    <br><ul>
  <li>Parth Jagtap (2220)</li>
    <li>Paavan Jaitly (2221)</li>
      <li>Shrenik Kolhe (2228)</li>
        <li>Atharva Nalawade (2239)</li>
  
  
  
  </ul>
   <br>
  <p>Project Info:</p>
   <br>
  <p>This project is based on the concept of Web scraping</p>
  <p><strong> What is web scraping?</strong></p>
  <p>Web scraping is the process of using bots to extract content and data from a website. Unlike screen scraping, which only copies pixels displayed onscreen, web scraping extracts underlying HTML code and, with it, data stored in a database.</p>
  </div>
  
 


</div>
    

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const imageObserver = new IntersectionObserver((entries, imgObserver) => {
                entries.forEach((entry) => {
                    if (entry.isIntersecting) {
                        const lazyImage = entry.target;
                        lazyImage.src = lazyImage.dataset.src;
                    }
                });
            });
            const arr = document.querySelectorAll('img.lzy_img');
            arr.forEach((v) => {
                imageObserver.observe(v);
            });
        })
    </script>
    <script src="https://cdn.jsdelivr.net/gh/omega-scans/ani-scraper@main/static/js/home.min.js"></script>



</body>
</html>
